body {
  background: url(../img/bg_img.png);
  margin: 0;
  padding: 0;
  background-repeat: repeat; }
  body .container {
    width: 70%;
    margin: auto;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  body .services {
    width: 66%;
    float: left;
    margin: 10px; }
  body .side-form {
    width: 30%;
    float: right; }

#nav-container {
  width: 90%;
  margin: auto;
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0; }

#branding {
  float: left; }
  #branding h1 {
    margin: 0;
    padding: 0;
    color: white; }

header {
  background-color: #0e1c2b;
  border-bottom: 5px solid #009444;
  padding-top: 10px; }

nav {
  float: right;
  padding-top: 20px; }
  nav li {
    display: inline;
    padding: 8px 8px;
    font-weight: 500; }
  nav a {
    text-decoration: none;
    color: white; }
    nav a:hover {
      color: white;
      background-color: #009444; }

.css-carousel {
  overflow: hidden; }
  .css-carousel .css-img {
    width: 50%;
    height: 50%;
    max-width: 50%;
    max-height: 50%;
    position: absolute;
    opacity: 0;
    -webkit-animation-name: css-animation-fade;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite; }
  .css-carousel .css-img:nth-child(2) {
    -webkit-animation-delay: 5s; }
  .css-carousel .css-img:nth-child(3) {
    -webkit-animation-delay: 10s; }
  .css-carousel .css-img:nth-child(4) {
    -webkit-animation-delay: 15s; }

@-webkit-keyframes css-animation-fade {
  from {
    opacity: 0; }
  5% {
    opacity: 1; }
  15% {
    opacity: 1; }
  20% {
    opacity: 0; }
  to {
    opacity: 0; } }

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 1em; }
