@import "config";

// Global

body {
  // background: $body-img;
  margin: 0;
  padding: 0;
  background-repeat: repeat;

  .container {
    width: $page-width;
    margin: 10px auto 40px auto;
    background: $container-color;
    box-shadow: 2px 8px 1em $primary-color;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .services {
    width: 67%;
    float: left;
    margin: 10px;
    h2 {
      padding: 5px;
      margin: auto auto 0 auto;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.4rem;
      overflow: hidden;
    }
    p {
      margin-bottom: 25px;
    }
  }

  .fotorama {
    float: left;
    width: 70%;
  }

  .servicesWriteUp {
    clear: both;
    margin: auto;
    border-radius: 10px;
    color: $primary-color;
    width: 100%;
    h2 {
      padding-top: 10px;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.6rem;
      overflow: hidden;
    }
    p {
      padding: 0 1em 15px 1em;
      font-size: 1.3em;
      text-align: justify;
    }
  }

  .cta-bar {
    background-color: $primary-color;
    width: 100%;
    height: 60px;
    .page-name {
      width: 30%;
      float: left;
      margin: 0;
      padding: 10px 10px 10px 30px;
      text-transform: uppercase;
      font-weight: 500;
      color: $container-color;
    }
    .cta-phone {
      width: 60%;
      margin: 0;
      padding: 10px;
      float: right;
      text-align: right;
      text-transform: uppercase;
      font-weight: 500;
      color: $container-color;
    }
  }

  // Navigation
  #branding {
    width: 30%;
    margin: auto;
    img {
      width: 100%;
      padding: 10px 0;
      margin: auto;
      border: 0;
    }
  }

  #nav-container {
    width: 90%;
    margin: auto;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  header {
    background: rgba(0, 0, 0, 0);
    border-bottom: 5px solid $secondary-color;
    padding-top: 10px;
  }

  .menu-nav {
    // float: none;
    // padding-top: 50px;
    margin: auto;
    .current {
      color: white;
      background-color: $primary-color;
      border-radius: 3px;
      padding: 0 3px;
    }

    ul {
      text-align: center;
    }

    li {
      display: inline-block;
      margin: 8px 8px;
      font-weight: 500;
      font-size: 20px;
    }

    a {
      text-decoration: none;
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  // Services Grid Layout
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2em;
    padding: 0 15px;
    margin: 10px 10px 25px 10px;
    .service-items {
      text-align: center;
      border-radius: 5px;
      box-shadow: 8px 8px 1em $primary-color;
      overflow: hidden;
      padding: 5px;
      i {
        font-size: 3em;
        margin: 0;
        padding-top: 10px;
        color: $primary-color;
      }

      h3 {
        font-weight: 500;
      }

      span,
      .learnMore {
        background-color: $primary-color;
        color: $container-color;
        padding: 2px;
        border-radius: 3px;
        text-decoration: none;
        line-height: 35px;
      }
    }
  }

  .side-form {
    width: 30%;
    float: right;
    margin-top: 10px;

    .form {
      background-color: rgba(128, 128, 128, 0.178);
      border-radius: 10px;
      border: 1px solid $primary-color;
      margin: 5px;
      padding: 10px;

      h3 {
        margin-bottom: 10px;
        margin-top: 0;
      }

      input,
      select {
        margin-bottom: 5px;
        border-radius: 3px;
        border: 1px solid $primary-color;
        width: 95%;
        text-indent: 5px;
      }
      button {
        border-radius: 5px;
        border: 1px solid $secondary-color;
        background-color: $primary-color;
        color: $container-color;
        padding: 5px;
        margin: auto;
        width: 90%;
      }
    }
  }

  .featuredVideos {
    background-image: radial-gradient(rgb(87, 87, 87), $primary-color);
    margin: 10px auto 10px auto;
    padding: 1px 0 3px 5px;
    border-radius: 5px;
    line-height: 1em;
    color: white;
    width: 95%;

    a {
      font-weight: bold;
      color: $secondary-color;
    }
  }
}

// About Page
.bio-section {
  margin: 30px;
  width: 90%;
  .bio-img {
    float: left;
    width: 30%;
  }
  .bio-text {
    float: right;
    width: 60%;
  }
}

.certs {
  width: 90%;
  margin: auto;
  h2 {
    margin-top: 30rem;
    color: $container-color;
    background-color: $primary-color;
    border: 1px solid $secondary-color;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

// Services Page
#accordian {
  margin: 20px;
  padding: 0;
  h1 {
    text-transform: uppercase;
    text-indent: 10px;
  }
  hr {
    height: 3px;
    background-color: $primary-color;
    width: 80%;
  }
  .accord-items {
    padding: 0 20px 0 20px;

    a {
      font-weight: bold;
      color: $secondary-color;
    }
    section {
      display: none;
      &:target {
        display: inline;
      }
    }
  }
}

// Contact Page
.inform {
  width: 100%;
}
.contact {
  float: left;
  padding-left: 6em;
  width: 40%;
  font-size: 18px;
}

.side-form-ct {
  width: 50%;
  float: right;

  .form-ct {
    background-color: rgba(128, 128, 128, 0.178);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid $primary-color;
    margin: 10px;
    padding: 10px;

    h3 {
      margin-bottom: 10px;
      margin-top: 0;
    }

    input,
    select {
      margin-bottom: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid $primary-color;
      width: 95%;
      text-indent: 5px;
    }
    button {
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid $secondary-color;
      background-color: $primary-color;
      color: $container-color;
      padding: 5px;
      margin: auto;
      width: 90%;
    }
  }
}

#footer {
  position: fixed;
  left: 1;
  bottom: 0;
  width: $page-width;
  background-color: $primary-color;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: $container-color;
  text-align: center;
  font-size: 14px;
  padding: 3px 0 3px 0;
}

@import "mobile";
// @import "slideshow";
