$body-img: url(../img/bg_img.jpg);
$container-color: #fff;

body {
  background: $body-img;
  background-repeat: repeat;
  margin: 0;
  padding: 0;

  .container {
    width: 960px;
    margin: auto;
    background: $container-color;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
}

// Navigation
header nav{
  float: right;
  text-decoration: none;
  display: inline;
  padding-bottom: 20px;

  li{
		float: left;
		display: inline;
		padding: 0 15px 0 15px;
	}
}

.css-carousel {
  overflow: hidden;
}

.css-carousel .css-img {
  width: 50%;
  height: 50%;
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  opacity: 0;
  -webkit-animation-name: css-animation-fade;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
}

.css-carousel .css-img:nth-child(2) {
  -webkit-animation-delay: 5s;
}

.css-carousel .css-img:nth-child(3) {
  -webkit-animation-delay: 10s;
}

.css-carousel .css-img:nth-child(4) {
  -webkit-animation-delay: 15s;
}

@-webkit-keyframes css-animation-fade {
  from {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
